# База данных
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=password
DB_DATABASE=comments_db

# Приложение
NODE_ENV=development
PORT=4000
JWT_SECRET=y
JWT_EXPIRES_IN=7d

# GraphQL
GRAPHQL_PLAYGROUND=true
GRAPHQL_DEBUG=true

# CORS
CORS_ORIGINS=http://localhost:3000,http://localhost:3001,https://comments-client-one.vercel.app
# Elasticsearch
ELASTICSEARCH_NODE=http://localhost:9200
ELASTICSEARCH_USERNAME=elastic
ELASTICSEARCH_PASSWORD=elasticer

# Kafka
KAFKA_BROKERS=localhost:9092
KAFKA_CLIENT_ID=comments-service
KAFKA_CONSUMER_GROUP_ID=comments-consumer-group

